---
---

@import "{{ site.theme }}";

img {
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.15);
  -webkit-box-shadow: 0 0 5px rgba(0, 0, 0, 0.15);
  -moz-box-shadow: 0 0 5px rgba(0, 0, 0, 0.15);
  -o-box-shadow: 0 0 5px rgba(0, 0, 0, 0.15);
  -ms-box-shadow: 0 0 5px rgba(0, 0, 0, 0.15);
}

#header_wrap .inner,
#main_content {
  max-width: 800px;
}

#main_content_wrap .outer {
  background: #ffffff;
}

.vg-tooltip table,
.vg-tooltip tbody,
.vg-tooltip thead,
.vg-tooltip tr,
.vg-tooltip td {
  border: none;
}
